.projet{
    margin-top: 1rem;
}
.title-projet{
    letter-spacing: 5px;
    text-align: center;
    color: white;
    font-weight: 200;
    transform: scale(0);
    animation: scaler 0.25s linear forwards;
    animation-delay: .6s;
}
.defil-projet{
    max-width: 1000%;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
    gap: 5rem;
    overflow-x: scroll;   
    scrollbar-width: none;
    transform: scale(0);
    animation: scaler .5s linear forwards;
    animation-delay: .9s;
}

@keyframes scaler {
    from{
        transform: scale(0);
    }to{
        transform: scale(1);
    }
}